@font-face {
    font-family: "Mandalore";
    src: url("./mandalore.ttf");
  }
*{
  box-sizing: border-box;
}

body{
  background-color: #f3bb20;
  margin-top: 10px
}
.titulo{
  font-family: Mandalore, sans-serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  color: #7c6219;
}
.baby-yoda-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .ship{
    position: relative;
    background-color: #111711;
    width: 300px;
    height: 193px;
    border-top: 10px solid #3d4937;
    border-left: 10px solid #3d4937;
    border-right: 10px solid #3d4937;
    border-radius: 150px 150px 0 0;
    animation: 4s the-force ease-in-out infinite;
}
    .ship:before, .ship:after{
      content: '';
      position: absolute;
      width: 10px;
      height: 55px;
      background-color:#b29d4a;
}
    .ship:before{
      bottom: -20px;
      left: -10px;
}
    .ship:after{
      top: 148px;
      right: -10px;
}
  .baby-yoda{
    position: relative;
    top: 50px;
}
  .head{
    background-color:  #78ac39;
    width: 120px;
    height: 75px;
    margin: 0px auto;
    border-top-left-radius: 40px 30px;
    border-top-right-radius: 40px 30px;
}
  .face{
    position: relative;
}
  .eyes{
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
    .eyes:after{
      content: '';
      position: absolute;
      top: 16px;
      background-color:  #78ac39;
      width: 100%;
      height: 1px;
      transform-origin: top;
      animation: 2s eyes-close linear infinite alternate;
}
  .eye{
    position: relative;
    background-color: #111812;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 0;
  }

    /*animation: 2s eyes-close ease-in-out infinite*/
    .eye:after{
      content: '';
      position: absolute;
      right: 8px;
      top: 10px;
      background-color: #c6ac63;
      width: 5px;
      height: 5px;
      border-radius: 50%;
}
  .nose{
    position: relative;
    top: -5px;
    width: 10px;
    height: 10px;
    background-color: #62872c;
    margin: 0 auto;
    transform: rotate(45deg);
}
    .nose:before{
      display: block;
      content: '';
      position: relative;
      width: 10px;
      height: 10px;
      background-color: #62872c;
      border-radius: 5px;
      top: 5px;
      box-shadow: 5px -5px #62872c;
}
  .ears{
    position: absolute;
    width: 100%;
}
  .ear{
    margin-top: 15px;
    padding-top: 15px;
    position: absolute;
    background-color: #78ac39;
    width: 120px;
    height: 60px;
    overflow: hidden;
}
    .ear:after{
      position: relative;
      display: block;
      content: '';
      background-color: #698a20;
      width: 100px;
      height: 80px;
}
    .ear.left{
      left: -110px;
      border-bottom-left-radius: 120px 60px;
}
      .ear:after{
        border-top-right-radius: 20px;
}
    .ear.right{
      right: -110px;
      border-bottom-right-radius: 120px 60px;
}
      .ear:after{
        right: -20px;
        border-top-left-radius: 20px;
}
  .scarf{
    position: relative;
    margin: -2px auto 0;
    width: 160px;
    height: 70px;
    background-color: #f19700;
}
    .scarf:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 35px;
      background-color: #f0b81a;
}
  .front-ship{
    overflow: hidden;
    position: relative;
    height: 200px;
    margin-top: 38px;
    border-radius: 0 0 120px 120px;
    background-color: #111711;
}
    .top{
      position: relative;
      height: 50px;
      width: 100%;
      background-color: #445f52;
}
      .top:before{
        content: '';
        position: absolute;
        width: 40%;
        height: 30px;
        background-color: #698577;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
}
      .top:after{
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 26px;
        left: 50%;
        background-color: #bdcaa6;
        transform: translateX(-50%);
        box-shadow: -35px 0 #bdcaa6, 35px 0 #bdcaa6;
}
  .bottom{
    position: relative;
    padding-top: 30px;
    background-color: #39473e;
    height: 100%;
}
    .bottom:after{
      content: '';
      position: absolute;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      right: 0px;
      bottom: -10px;
      background-color: #3e5555;
}
    .title{
      letter-spacing: 1px;
      font-size: 2rem;
      margin-top: 0px;
      text-align: center;
      font-family: Mandalore, sans-serif;
}
      .span{
        position: relative;
        display: block;
        font-size: 0.7rem;
}
        .span:before{
          content: '';
          position: absolute;
          width: 64px;
          height: 3px;
          background-color: #000;
          top: 7px;
          left: 54%;
          box-shadow: -88px 0 0;
}
  .ship-shadow{
    position: relative;
    z-index: -1;
    transform: translateY(150%);
    width: 280px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    opacity: 0.5;
    animation: 4s shadow-move ease-in-out infinite;
    filter: blur(1px);
}
.social{
  text-align: center;
}
  
@keyframes shadow-move{
  50%{
    background-color: #666;
    transform: scale(1.1) translateY(150%);
    filter: blur(3px);
    opacity: 0.45;
}
}
@keyframes the-force{
  50%{
    transform: translateY(-20%);
}
}
@keyframes eyes-close{
  10%{
    transform: scaleY(0);
}
  12%, 14%{
    transform: scaleY(45);
}
  14%{
    transform: scaleY(0);
}
}